.calendar-date {
    position: relative;
    display: inline-block;
}

.calendar-date .icon {
    font-size: 42px;
    width: 40px;
    color: #555;
}

.calendar-overlay {
    position: absolute;
    /*top: 15px;*/
    /*left: 8px;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 38% 11% 6% 10%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 11px;
    font-weight: 700;
    line-height: 12px;
}

.calendar-date .month-day {
    display: flex;
    justify-content: space-around;
}

.calendar-date .month {
    /*color: #C3267C;*/
    color: #0CAD64;
}

.calendar-date .day {
    /*color: #F1892F;*/
    color: #1469A0;
}

.calendar-date .year {
    color: #F1342F;
    /*color: #FA5011;*/
    text-align: center;
}
/*
Green
#0CAD64

Orange
#FA9311

Red
#FA5011

Blue
#1469A0
*/
/*
<span class="calendar-date">
  <i class="icon fa fa-calendar-o"></i>
  <span class="calendar-overlay">
    <span class="month-day">
      <span class="month">6</span>
      <span class="day">24</span>
    </span>
    <span class="year">2016</span>
  </span>
</span>
*/

/* ALTERNATE */

/* Month / Day */
/*
<span class="date">
    <div class="date-header">Jul</div>
    <div class="date-day">15</div>
</span>
  */
/*
#ffc107 yellow
#FF5A00 orange
#A2CE3D green
*/
.date-1 {
    display: flex;
    flex-direction: column;
    width: 2.2rem;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #A2CE3D;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.2;
}
.date-1 .date-header {
    font-size: 0.8rem;
    background-color: #A2CE3D;
    color: #fff;
}
.date-1 .date-day {
    font-size: 1rem;
    font-weight: 700;
}

/* Month / Day / Year */
.date-2 {
    display: flex;
    flex-direction: column;
    width: 2.2rem;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #A2CE3D;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.2;
}
.date-2 .date-header {
    font-size: 0.8rem;
    background-color: #A2CE3D;
    color: #fff;
}
.date-2 .date-day {
    font-size: 1rem;
    font-weight: 700;
}
.date-2 .date-footer {
    font-size: 0.6rem;
    background-color: #A2CE3D;
    color: #fff;
}

/* Month / Year / Day */
/*
<span class="date">
    <div class="date-header">
        <div class="month">Jul</div>
        <div class="year">16</div>
    </div>
    <div class="date-day">15</div>
</span>
*/
.date-3 {
    display: flex;
    flex-direction: column;
    width: 3rem;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #A2CE3D;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.2;
}
.date-3 .date-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    background-color: #A2CE3D;
    color: #fff;
    padding: 2px 2px;
}
.date-3 .date-day {
    font-size: 1rem;
    font-weight: 700;
}

/* */
/*
<span class="date-4">
    <div class="date-header">
        <div class="month">Jul</div>
        <div class="year">'16</div>
    </div>
    <div class="date-content">
        <span class="day">15</span>
        <span class="ordinal-indicator">th</span>
    </div>
</span>
*/
.date-4 {
    display: flex;
    flex-direction: column;
    width: 3rem;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #A2CE3D;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.2;
}
.date-4 .date-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    background-color: #A2CE3D;
    color: #fff;
    padding: 2px 2px;
}
.date-4 .date-content {
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.date-4 .date-content .day {
    font-size: 1rem;
}
.date-4 .date-content .ordinal-indicator {
    font-size: 0.6rem;
}
/* */
/*
<span class="date-4">
    <div class="date-header">
        <div class="month">Jul</div>
        <div class="year">'16</div>
    </div>
    <div class="date-content">
        <span class="day">15</span>
        <span class="ordinal-indicator">th</span>
    </div>
</span>
*/
.date-5 {
    display: flex;
    /*flex-basis: 60px;*/
    min-width: 40px;
    max-width: 40px;
    flex-direction: column;
    vertical-align: middle;
    background-color: #fff;
    border: 2px solid #337AB7;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.2;
    margin: 0 auto;
}
.date-5.bigger {
    /*flex-basis: 60px;*/
    max-width: 70px;
}
.date-5 .date-header {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    background-color: #337AB7;
    color: #fff;
    padding: 2px 4px;
}
.date-5 .date-header .year {
    margin-left: 4px;
}
.date-5 .date-content {
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding: 2px 4px;
}
.date-5 .date-content .day {
    font-size: 1rem;
}
.date-5 .date-content .ordinal-indicator {
    font-size: 0.6rem;
}