.wrapper .header-wrapper header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background-color: #777777;
    border-bottom: 3px solid #555;
}

.wrapper .header-wrapper header .top ul.controls {
    list-style: none;
    margin: 0;
    color: white;
}

.wrapper .header-wrapper header .top ul.controls > li > a {
    text-decoration: none;
}

.wrapper .header-wrapper header .top ul.controls > li > a {
    color: inherit;
}

.wrapper .header-wrapper header .page-title {
    margin: 0;
}

.wrapper .header-wrapper header .bottom {
    padding: 2px 10px;
    background-color: #AAAAAA;
}

.wrapper .header-wrapper header .bottom .breadcrumb-wrapper {
    display: flex;
}

.wrapper .header-wrapper header .bottom .breadcrumb-wrapper .title {
    color: white;
    font-weight: 700;
    margin-right: 10px;
}

.wrapper .header-wrapper header .bottom .breadcrumb-wrapper .breadcrumbs > li > a {
    color: #337ab7;
    text-decoration: none;
    transition: 300ms all linear;
}

.wrapper .header-wrapper header .bottom .breadcrumb-wrapper .breadcrumbs > li > a:hover {
    color: #568DF8;
    text-decoration: none;
}

