.search-pane {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.search-pane .search-parameter {
    flex: 1;
    margin: 0 20px;
}

.search-pane .select2-container {
    width: 100% !important;
}

.results-pane {

}

.lity-hide {
    display: none !important;
}

.featherlight .featherlight-inner {
    display: flex !important;
    flex-direction: column;
}

.marker-lightbox {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
    background-color: green;
    padding: 15px;
}

.marker-lightbox > .column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-pane {
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
}

.search-pane .search-parameter {
    margin: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    font-size: inherit !important;
    margin: 0 !important;
    padding: 0 5px !important;
    list-style: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    font-size: inherit !important;
    margin-right: 5px !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
    line-height: inherit !important;
}

.results-pane .map-view {
    border: 4px solid #555;
    border-radius: 8px;
    margin-bottom: 20px;
}

.results-pane .map-view #google_map {
    border-radius: 8px !important;
}

.results-pane #list_view.list-view ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.results-pane #list_view.list-view ul li {
    width: 300px;
    height: 225px;
    border: 4px solid #555;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-right: 10px;
}

/*.results-pane #list_view.list-view ul li:nth-child(odd) {*/
    /*margin-right: 10px;*/
/*}*/

.lightboxes {
    display: none;
}