/* TEMPORARY COLORING */
.header-wrapper {
    background-color: midnightblue;
}

.main-wrapper .sidebar {
    background-color: tomato;
}

.main-wrapper .content {
    background-color: white;
}

.footer-wrapper footer {
    background-color: darkorchid;
}

/* TEMPORARY COLORING */

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    flex: 1;
}

.header-wrapper {
}

/*TODO: Set explicit height?*/
.header-wrapper .header {
    min-height: 100px;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
}

/*TODO: Set explicit width?*/
.main-wrapper .sidebar {
    flex: 0 0 150px;
}

.main-wrapper .content {
    flex: 1;
}

.footer-wrapper {
}

/*TODO: Set explicit height?*/
.footer-wrapper footer {
    min-height: 100px;
}

/* FORMS */
.field-container {
    display: flex;
    flex-wrap: wrap;
}

.field-container.col-2 .field {
    flex: 1 0 45%;
    margin: 10px 20px;
    min-width: 300px;
}

.field-container.col-3 .field {
    flex: 1 0 25%;
    margin: 10px 20px;
    min-width: 260px;
}

.field-container .field.half-width {
    min-width: 45%;
}

.field-container .field.full-width {
    min-width: 70%;
}

header .navbar-nav {
    margin: 0 !important;
}