/* TEMPORARY COLORING */
.content {
    background-color: white;
}
/* TEMPORARY COLORING */

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 0 0 200px;
    max-width: 200px;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.wrapper .header-wrapper {
}

.wrapper .header-wrapper header {
    display: flex;
    flex-direction: column;
}

.wrapper .content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.wrapper .content-wrapper .content {
    flex: 1;
    padding: 10px;
}

.wrapper .footer-wrapper {
}

.wrapper .footer-wrapper footer {
}

/* FORMS */
.field-container {
    display: flex;
    flex-wrap: wrap;
}

.field-container.col-1 .field {
    width: 100%;
    margin: 10px 20px;
    min-width: 300px;
}

.field-container.col-2 .field {
    flex: 1 0 45%;
    margin: 10px 20px;
    min-width: 300px;
}

.field-container.col-3 .field {
    flex: 1 0 25%;
    margin: 10px 20px;
    min-width: 260px;
}

.field-container .field.half-width {
    min-width: 45%;
}

.field-container .field.full-width {
    min-width: 70%;
}

header .navbar-nav {
    margin: 0 !important;
}

.radio-label {
    display: flex;
    align-items: center;
}

.radio-label input[type="radio"] {
    display: inline;
    width: 34px;
}

.radio-label span {
    margin-left: 20px;
}