/* Common style */
#content .tympanus.image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#content .tympanus.image img {
    position: relative;
    display: block;
    min-height: 100%;
    width: 100%;
    max-width: 100%;
    opacity: 0.8;
}

#content .tympanus.image .overlay {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: #fff;
    background-color: transparent !important;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 300ms all linear;
}

/*#content .tympanus.image:hover .overlay {*/
/*justify-content: space-around;*/
/*}*/

#content .tympanus.image .overlay::before,
#content .tympanus.image .overlay::after {
    pointer-events: none;
}

#content .tympanus.image .overlay,
#content .tympanus.image .overlay > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
#content .tympanus.image .overlay > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

#content .tympanus.image .title {
    word-spacing: -0.15em;
    font-weight: 300;
}

#content .tympanus.image .title span {
    font-weight: 800;
}

#content .tympanus.image .title,
#content .tympanus.image .content {
    margin: 0;
}

#content .tympanus.image .content {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/* MING */
#content .tympanus.image.effect-ming {
    background: #030c17;
}

#content .tympanus.image.effect-ming img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

#content .tympanus.image.effect-ming .overlay::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4,1.4,1);
    transform: scale3d(1.4,1.4,1);
}

#content .tympanus.image.effect-ming .title {
    text-align: center;
    color: white;
    line-height: initial;
    margin: -10px 0 10px;
    -webkit-transition: -webkit-transform 0.35s;
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;
    transition: transform 0.35s;
    transition: 300ms all linear;
}
#content .tympanus.image.effect-ming:hover .title {
    background: none;
    padding: 0;
    margin-top: 5%;
    font-size: 20px;
}

#content .tympanus.image.effect-ming .content {
    /*padding: 1em;*/
    padding: 0 25px;
    font-size: 10px;
    line-height: 14px;
    color: white;
    opacity: 0;
    text-transform: initial;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#content .tympanus.image.effect-ming:hover .title {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

#content .tympanus.image.effect-ming:hover .overlay::before,
#content .tympanus.image.effect-ming:hover .content {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

#content .tympanus.image.effect-ming:hover .overlay {
    background-color: rgba(58,52,42,0);
}

#content .tympanus.image.effect-ming:hover img {
    opacity: 0.4;
}


/* Media queries */
@media screen and (min-width: 800px) {
    #content .tympanus.image {
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width: 800px) {
    #content .tympanus.image {
        width: 300px;
        height: 225px;
    }
}